#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.content {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  transform: translate(0, 0);
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 40px;
  margin-top: 50px;
}

.container {
  background-color: whitesmoke;
  width: 100%;
}

.title{
  font-size: 50px;
  font-weight: 700;
}

.instruction{
  font-size: 30px;
  font-weight: 400;
  color: #777777;
}

h5 {
  left: -55px !important;
}
