#particles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
}

#panelDiv{
    background-color: white;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 2%;
}

#panelDiv1{
    background-color: white;
    width: 85%;
}

.panelRow{
    background-color: white;
    color: #777777;
    font-family: Arial;
    font-size: large;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-bottom: 1%;
    height: 30px;
}

#panelHeader{
    width: 100%;
}

.header{
    display: inline-block;
    marginTop: 5%;
    color: #0874ba;
}