#formDiv {
  background-color: whitesmoke;
  font-family: "PT Sans";
  position: absolute;
  height: 100%;
  width: 100%;
}

#logo {
  height: 200px;
  background-size: 100% 100%;
}

#companySelector {
  padding: 20px;
}

.selectCompany {
  height: 70px;
}

.optionImage {
  padding: 5px;
  height: 60px;
  position: relative;
  float: left;
}

.companyName {
  position: relative;
  float: right;
  font-size: 20px;
  padding: 20px;
}

#sendContainer {
  background-color: #0874ba;
  position: absolute;
  bottom: 10px;
  width: 40%;
  margin-left: 30%;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.selector {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

#warning {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
}

#currentLogo {
  padding: 20px 0 20px;
  height: 120px;
}
