*{
    font-family: "PT Sans";
}
#container{
    background-color: white ;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#contentContainer{
    background-color: white;
    width: 100%;
    height: 50%;
    top: 0;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;
    padding: 20px 0 10px 0;
}

.image{
    height: 90px;
    max-width: 180px;
    width: auto;
}

.csd-link{
  text-decoration: none;
  color: black;
}

.srce{
    width:101%;
    height: 101%;
    position: absolute;
}

.sc{
    animation-name: loadScore;
    animation-duration: 1s;
}

@keyframes loadScore{
    from{
        height: 100%;
    }
    to{
        height: 0;
    }
}

.loader2{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 55%;
    height: 30%;
    position: relative;
    float: right;
    max-width: 250px;
    margin:10%;
    top: 20%;
}

.header2{
    color: black;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.plus{
    font-weight: 400;
    font-size: 30px;
    color: #333;
    margin-top: 25px;
}

#backLink {
  position: absolute;
  bottom: 20px;
  padding: 10px 100px 10px 100px;
  background-color: #0874ba;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 387px){
  .header2{
    margin: 15px 0 30px 0!important;
    font-size: 30px;
  }
}

@media(max-width: 349px){
  .header2{
    margin: 12px 0 25px 0!important;
    font-size: 25px;
  }
}