*{
    font-family: "PT Sans";
}

#container{
    background-color: white ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#contentContainer{
    background-color: white;
    width: 100%;
    height: 50%;
    min-height: 265px;
    top: 0;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;
    padding: 10px 0 10px 0;
}

.image{
    height: 70px;
    max-width: 150px;
    object-fit: contain;
    width: auto;
}

.csd-link{
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.srce{
    width:101%;
    height: 101%;
    position: absolute;
}

.sc{
    animation-name: loadScore;
    animation-duration: 2s;
}

@keyframes loadScore{
    from{
        height: 100%;
    }
    to{
        height: 0;
    }
}

.loader2{
    display: flex;
    align-content: center;
    width: 50%;
    height: 26%;
    position: relative;
    float: right;
    max-width: 250px;
    margin-top: 10%;
    top: 20%;
}

.header2{
    color: black;
    font-weight: 500;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.plus{
    font-weight: 400;
    font-size: 30px;
    color: #333;
    margin-top: 25px;
}

#backLink {
  padding: 10px 12px;
  width: 60%;
  min-width: 235px;
  background-color: #0874ba;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.centerLink {
  position: absolute;
  bottom: 10px;
}

@media(max-width: 387px){
  .header2{
    margin: 15px 0 30px 0!important;
    font-size: 30px;
  }

  .image{
    height: 80px;
    max-width: 160px;
    width: auto;
  }
}

@media(max-width: 349px){
  .header2{
    margin: 12px 0 25px 0!important;
    font-size: 25px;
  }
}
